In [1]:
print("Welcome")

Welcome

In [2]:
print("Pyhton")

Pyhton

In [ ]:
# req:-  \t tab delimeter

In [3]:
print("\tpython")

	python

In [4]:
print("Langunages\nPython\njava\nC++")

Langunages
Python
java
C++

In [ ]:
# Enhancement of code

In [5]:
print("Lanaguages:\n\tPython\n\tJava\n\tC++")

Lanaguages:
	Python
	Java
	C++

In [ ]:
# integers:-
---------

In [6]:
2 + 3

5

In [7]:
2*2 # multiplication

4

In [8]:
2**2 # square

4

In [9]:
2**3

8

In [10]:
9**0.5

3.0

In [11]:
x = 6

In [12]:
print(x)

6

In [13]:
name = "Kavita"

In [14]:
print(name)

Kavita

In [ ]:
# type()

In [15]:
type(x)

int

In [16]:
type(name)

str

In [ ]:
string ----> str

In [17]:
y = 0.1 + 0.9

In [18]:
print(y)

1.0

In [19]:
type(y)

float

In [20]:
name1 = "swetha"

name2 = 's'

In [21]:
type(name1)

str

In [22]:
type(name2)

str

In [ ]:
# note:- there no char dataType in python

In [23]:
# zen of python

In [24]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [25]:
# list:-
# ------

# list is a unorderd collection of objects or dataTypes


# it can be declared with []

In [26]:
list1 = []

In [27]:
type(list1)

list

In [28]:
students = ['Divya','kavita','sindhu','Rakesh','vishnu']

# index      0     ,   1    ,    2   ,   3    , 4

In [29]:
students

['Divya', 'kavita', 'sindhu', 'Rakesh', 'vishnu']

In [30]:
print(students)

['Divya', 'kavita', 'sindhu', 'Rakesh', 'vishnu']

In [31]:
exp = ['Divya',5,0.7,'g']

In [32]:
print(exp)

['Divya', 5, 0.7, 'g']

In [ ]:
# how to element from list

In [33]:
students[3]

'Rakesh'

In [36]:
students[4].upper()

'VISHNU'

In [37]:
type(exp[1])

int

In [ ]:
# req :- how to add elements to the list

In [ ]:
# append()

In [38]:
students.append('saran raj')

In [39]:
students

['Divya', 'kavita', 'sindhu', 'Rakesh', 'vishnu', 'saran raj']

In [40]:
# the element will add at the last position only

In [41]:
# req:- want to add element in perticular position

# insert()

In [47]:
students.insert(2,'Yeswanth')

In [48]:
print(students)

['Divya', 'kavita', 'Yeswanth', 'Yeswanth', 'Yeswanth', 'Yeswanth', 'Yeswanth', 'sindhu', 'Rakesh', 'vishnu', 'saran raj']

In [ ]:
# list can accept duplicates as well